
html{
    scroll-behavior: smooth;
    }
/* scroll */
    @keyframes text-appear {
      from{
        opacity: 0;
        transform: translateY(100px);
      }
      to{
        opacity: 1;
        transform:translateY(0) ;
      }
    }
    .event,.body,.about{
      animation: text-appear both;
      animation-timeline:view() ;
      animation-range: entry 20%;
    }
    :root {
      --sky: #87CEEB;
      --sun: #F6C945;
      --grape: #6A4C93;
      --coral: #FF6F69;
      --grass: #7BC950;
      --house: #D95448;
      --cloud: #F5F7FA;
    }
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(180deg, #e1170d 10%, #fdad72 50%, #fde5ad 70%);
      color: #2b2b2b;
    }
    .main{
      position: relative;
      
    }
    .banner-image{
      width: 100%;
      display: block;

    }
    .gradient-banner{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10rem;
      background: linear-gradient(to bottom, rgba(0,0,0,0), #f77c3a);
      
    }

    .home{
      width: 100%;
      height: 145vh;
    }
     /* .gradient-banner {
      position:static;
    z-index: 10;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #7d98cf);
} */
    header {
      position: sticky;
      top: 0;
      background: rgba(255,255,255,0.6);
      backdrop-filter: blur(6px);
      border-bottom: 1px solid #ddd;
      /* padding: 1rem 2rem; */
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      z-index: 100;
      height: 4rem;
    }
    header strong{
      margin: 1rem 2rem;
      
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height:100%;
      margin: 0rem 1rem;
    }
    nav a {
      margin: 0 0.8rem;
      text-decoration: none;
      color: #333;
    }
    .dec{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dec:hover{
    background-color:rgba(238, 238, 238, 0.6) ;
    transition: 1s;
    }

    .about {
      height: 120vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      max-width: 85%;
      margin: auto;
      padding: 3rem 1rem 5rem;
      align-items: center;
    }
    .about p{
      color:#1c1c1c;
      font-size: 18px;
    }
    .about h1 {
      font-size: 2.5rem;
      font-weight: 800;
    }
    .about h2{
      color:#3a3a3a;
    }
    .about span {
      color: var(--cloud);
    }
    .btn {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.8rem 1.5rem;
      border-radius: 1rem;
      font-weight: bold;
      text-decoration: none;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      transition: transform 0.2s;
      cursor: pointer;
    }
    .btn:hover { transform: translateY(-2px); }
    .btn-sun { background: var(--sun); color: #222; }
    .btn-outline { background: #fff; border: 1px solid #ccc; }
    .text-about button a{
      color: var(--grape);
      font-size:medium;
      text-decoration: none;
    }
    .event,.about { max-width: 85%; margin: auto; padding: 4rem 1rem; }
    h2 { font-size: 2rem; margin-bottom: 1rem; }
    /* anjay balon */
    .balloons {
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
    }
    .balloon {
      position: absolute;
      bottom: -100px;
      width: 50px;
      height: 70px;
      border-radius: 50% 50% 50% 50%;
      background: red;
      animation: float 8s ease-in-out infinite;
    }
    .balloon:after {
      content: "";
      position: absolute;
      top: 70px;
      left: 50%;
      width: 2px;
      height: 40px;
      background: #666;
      transform: translateX(-50%);
    }
    @keyframes float {
      0% { transform: translateY(0) translateX(0); opacity: 0; }
      20% { opacity: 1; }
      50% { transform: translateY(-200px) translateX(20px); }
      100% { transform: translateY(-400px) translateX(-20px); opacity: 0; }
    }

    /* .about{
      width: 100%;
      height: 80vh;
      display: flex;
    }
    .text-about{
      width: auto;
      height: auto;
      margin-top: 30px;
    }

    .about-left{
      flex: 1.75;
    }
    .about-right{
           flex: 1.25;
    }
    .about-left h2{
      text-align: center;
    } */

    footer {
      padding: 2rem 1rem;
      text-align: center;
      color: #555;
      font-size: 0.9rem;
    }

      nav button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #333;
    cursor: pointer;
    background: #fff;
    color: #333;
    font-weight: bold;
  }
  .event{
    width: 100%;
    height:auto;
  }

  .perform{
    gap: 3vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


  }
   .card {
      width: 210px;
      height: 210px;
      background: var(--sun);
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.15);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #111;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
    .card:hover{
      background-color:#d0ab39 ;
      width: 220px;
      height: 220px;
      transition: 1s;
    }
    .docum{
      width: 100%;
      height: 100vh;

    }
    .vid-container {
    position: relative;
    max-width: 100%;
    background: #000;
  }
  .vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 6%;
    height: 100vh;
    border-radius: 30px;
  }
  /* Carousel */

  .profile{
    margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 50vh;
        padding: 0 35px;
    }

    .card2 .img{
        background:#b4b4b5;
        width: 148px;
        height: 148px;
        border-radius: 50%;
    }

    .card2 .img img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #FFFFFF;
    }
    .wrapper{
        max-width: 1000px;
        width: 100%;
        position: relative;
    }
    .wrapper i:first-child{
        left:  -22px;
    }
    .wrapper i:last-child{
        right:  -22px;
    }
    .wrapper i {
        height: 50px ;
        width:50px;
        background: #FFFFFF;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 1.25rem;
        transform: translateY(-50%);
        box-shadow :0 3px  6px rgba(0, 0, 0, 23) ;
    }
    .wrapper .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px) ;
        gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth ;
        scrollbar-width: 0;
    }
    .carousel::-webkit-scrollbar{
        display: none;
    }
    .carousel :where(.card2, .img) {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .carousel.no-transition{
        scroll-behavior: auto;
    }
    .carousel.dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    .carousel.dragging .card2{
        cursor: grab;
        user-select: none;
    }
    .carousel .card2{
        scroll-snap-align: start ;
        height: 342px;
        list-style: none;
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        cursor: pointer;
        padding-bottom: 15px ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .card2 h2{
        font-weight: 500;
        font-size: 1.56rem;
        margin: 30px 0 5px;
    }
    .card2 span {
        color: #1e2d49;
        font-size: 1.31rem;

    }
    /* Sticky  */
    .nav-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background-color: white; */
    width: 70px;
    height: 150px;
    font-size: 40px;
    padding: 5px;
   
    }

    .nav-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    font-size: 40px;
    padding: 5px;
    background-color: whitesmoke; 

    }

    .nav-buttons a.tiktok-btn {
    border-radius: 90px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    margin-top: 20px;
}
    /* responsive */



    
    @media (max-width: 768px) {
      .hero {
        grid-template-columns: 1fr;
        text-align: center;
      }
      .hero h1 { font-size: 2rem; 
      }
      nav { justify-content: center; margin-top: 0.5rem; 
      }
       header {
    flex-direction: column;
    height: auto;
    padding: 0.5rem 1rem;
  }

  nav {
    margin: 0.5rem 0;
  }

  nav a {
    margin: 0.5rem;
    font-size: 0.9rem;
  }

  .card {
    width: 180px;
    height: 180px;
    font-size: 16px;
  }

  .card:hover {
    width: 190px;
    height: 190px;
  }
}
    
